body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}

nav ul {
    list-style-type: none;
    padding: 0;


}

nav ul a {

    text-decoration: none;
    display: inline-block;
    margin-right: 15px;
    margin-left: 10px;
    font-size: 29px;
    color: white;

}


nav ul a:hover {

    padding: 5px;
    font-size: 31px;
    background: #7b1fa2;
    -moz-transition: .4s linear;
    -webkit-transition: .4s ease-out;
    transition: .4s linear;
    border-radius: 3px;
}

article {
    margin: auto;
    width: 76%;
    padding: 10px;
    padding: 10px;
}



p {
    font-size: 22px;
    font-family: 'Courgette', cursive;
}

span {
    color: #ab47bc;
}

video {

    width: 100%;
}



header,
footer {
    font-family: 'Shrikhand', cursive;
    padding: 1em;
    color: white;
    background-color: #1a237e;
    text-align: center;
    font-size: 1.5em;

}


.container {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 1100px;

}



.title {
    text-align: center;
    font-size: 2.6em;
    float: left;
    margin-top: 3px;
    color: #e65100;
}

.menu {

    display: inline-block;
    position: relative;
    left: 725px;
    top: -160px;


}

.menu-small {

    display: none;

}



.portada {
    background-image: url("../images/dj4.jpg");
    height: 330px;
    padding: 1em;
    color: white;
    clear: left;
    text-align: center;
    font-size: 1.5em;
}


.video {
    display: flex;
    justify-content: space-between;

}

#mytexto {
    word-spacing: 7px;
}

.referencia {
    font-size: 25px;
    font-family: 'Courgette', cursive;
    text-align: center;
}

@media screen and (max-width: 1025px) {

    body {
        margin: 0;
        padding: 0;

    }


    video {
        position: relative;
        left: 1px;
        width: 100%;
       
    }


    .container {
        margin-bottom: 20px;
    }
    .referencia {
        margin: 10px;
        font-size: 26px;
        font-family: 'Courgette', cursive;
        text-align: center;

    }
    .menu {

        display: inline-block;
        position: relative;
        left: 500px;
        top: -110px;



    }


    .menu-small {

        display: none;

    }




}


@media screen and (max-width: 800px) {

    body {
        margin: 0;
        padding: 0;

    }



    video {
        position: relative;
        left: 25px;
        width: 100%;
        display: inline-block;
    }

    hr {

        display: block;
        margin: 2px;
        position: relative;
        top: -10px;
        border: solid 1px;
        width: 190px
    }


    .menu {

        display: inline-block;
        position: relative;
        left: 205px;
        top: -110px;



    }

    .menu-small {

        display: none;

    }

    nav ul a {

        text-decoration: none;
        display: inline-block;
        margin-right: 15px;
        margin-left: 10px;
        font-size: 25px;
        color: white;

    }



    .container {

        width: auto;
        margin-bottom: 20px;
    }



    .portada {
        background-image: url("../images/dj3.jpg");
        height: 260px;
        padding: 1.2em;
        font-size: 1em;
    }


    .video {
        display: flex;
       flex-direction: column;

    }
    .referencia {
        margin: 0;
        padding: 0;
        font-size: 24px;
        font-family: 'Courgette', cursive;
        text-align: center;

    }


}


@media screen and (max-width: 768px) {

    body {
        margin: 0;
        padding: 0;

    }



    nav ul a {

        text-decoration: none;
        display: inline-block;
        margin-right: 10px;
        margin-left: 5px;
        font-size: 22px;
        color: white;

    }


    video {
        position: relative;
        left: -36px;
        width: 115%;
       
        display: inline-block;
    }

    p {
        font-size: 19px;
    }


    .container {

        margin-bottom: 15px;

    }

    .menu-small {

        display: none;

    }

    .video {
        display: flex;
        flex-direction: column;
        
    }
    .title {
        font-size: 4.2em;
    }

    .referencia {
        margin: 0;
        margin-bottom: 15px;
        margin-top: 5px;
        padding: 0;
        font-size: 23px;
        font-family: 'Courgette', cursive;
        text-align: center;

    }



}

@media screen and (max-width: 500px) {

    body {
        margin: 0;
        padding: 0;

    }

    button {

        background: #1a237e;
        width: 100%;
        font-size: 22px;
        color: white;
        padding: 10px;
        border-radius: 4px;
        font-family: 'Courgette', cursive;

    }

    nav ul a {
        border-radius: 4px;
        text-align: center;
        text-decoration: none;
        display: block;
        margin: 0px 10px 20px;
        font-size: 26px;
        color: white;
        font-family: 'Courgette', cursive;

    }

    nav ul a:hover {
        padding: 5px;
        font-size: 31px;
        background: #283593;
        -moz-transition: .4s linear;
        -webkit-transition: .4s ease-out;
        transition: .4s linear;
        border-radius: 3px;
    }
    article {
    margin: auto;
    width: 92%;
    padding: 0px;
    
}


    video {
        width: 105%;
        position: relative;
        left: -10px;

    }

    p {
        font-size: 16px;
    }

    .title {
        text-align: center;
        font-size: 2em;
        float: left;
        margin-top: 3px;
        color: #e65100;
    }


    .container {

        margin-bottom: 10px;
        border: solid 2px red;
    

    }

    .menu {

        display: none;

    }

    .menu-small {
        background: #5c6bc0;
        display: inline-block;
        position: relative;
        left: 2px;
        top: -23px;

        width: 100%;



    }
    .portada {
        background-image: url("../images/dj5.jpg");
        height: 170px;
        font-size: 0.7em;
    }

    .hr-small {
        width: 250px;
        border: solid 1px #e8eaf6;
        margin: auto;
    }


    .title {
        position: relative;
        left: 40px;
        top: 85px;
        font-size: 5.5em;
        color: #e65100;
    }

    .referencia {
        font-size: 17px;
       position: relative;
        left: -10px;
        margin-bottom: 10px;
        margin-top: 10px;
        
    }


}

@media screen and (max-width: 361px) {
    body {
        margin: 0;
        padding: 0;

    }


    button {

        background: #1a237e;
        width: 100%;
        font-size: 20px;
        color: white;
        padding: 10px;
        border-radius: 4px;

    }

    nav ul a {
        border-radius: 4px;
        text-align: center;
        text-decoration: none;
        display: block;
        margin: 0px 10px 20px;
        font-size: 26px;
        color: white;
        font-family: 'Courgette', cursive;

    }

    nav ul a:hover {
        padding: 3px;
        font-size: 31px;
        background: #283593;
        -moz-transition: .4s linear;
        -webkit-transition: .4s ease-out;
        transition: .4s linear;
        border-radius: 3px;
    }

  video {
        width: 105%;
        height: auto;
        position: relative;
        left: -8px;

    }

    p {
        font-size: 15px;
    }

    .title {
        text-align: center;
        font-size: 2.6em;
        float: left;
        margin-top: 3px;
        color: #e65100;
    }


    .container {

        margin-bottom: 10px;
        border: solid 2px green;

    }

    .menu {

        display: none;

    }

    .menu-small {
        background: #5c6bc0;
        display: inline-block;
        position: relative;
        left: 0px;
        top: -23px;
        font-family: 'Shrikhand', cursive;

        width: 100%;



    }
    .portada {
        background-image: url("../images/dj6.jpg");
        height: 90px;
    }

    .hr-small {
        width: 250px;
        border: solid 1px #e8eaf6;
        margin: auto;
    }


    .title {
        position: relative;
        left: 60px;
        top: 30px;
        font-size: 4em;
        color: #e65100;
    }

    .referencia {
        font-size: 17px;
    }


}
